<div class="text-center social-btn vh-100 d-flex justify-content-center align-items-center flex-column">
  <h1>Sign In</h1>
  <div class="row w-100">
    <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-4 col-md-4 my-2">
      <a class="btn facebook btn-block" (click)="facebook()"><i class="fa fa-facebook"></i>Facebook</a>
    </div>
    <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-4 col-md-4 my-2">
      <a class="btn twitter btn-block" (click)="twitter()"><i class="fa fa-twitter"></i>Twitter</a>
    </div>
    <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-4 col-md-4 my-2">
      <a class="btn google btn-block" (click)="google()"><i class="fa fa-google"></i>Google</a>
    </div>
  </div>
</div>
